body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f2f2f2;
    background-image: url('./fondopoke.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: inherit;
    color: white; /* Color del texto */
    font-family: Arial, sans-serif; /* Tipo de fuente */
    text-align: center; /* Centrar texto */
    padding: 10px;

}

.titulo img{
    width: 200px;
    margin-bottom: 5px;
}

h1  {
    transform: scale(1.5);
    color: black;
    margin-top: 10px;
    font-size: 5vw;
}

h3 {
    color: black;
}


.contenedor{
    text-align: center;
}
.btn-1 {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ee2727;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1rem;
}

.btn-1:hover {
    background-color: #83c5be;
    color: #000;
}

.minicontenedor{
    display: flex;
    align-items: center;
    padding: 10px;
}


.pokeamigos{
    transform: scale(1.5);
    padding: 50px;
    margin-top: 150px;
}

.boxint{
    padding: 0px;
}